@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}


// Variables
$light-font:    300;
$normal-font:   400;
$medium-font:   500;
$bold-font:     700;
$black-font: 900;

// Main navigation

#main-navigation {
	background: #f4f8fc;
	width: 100%;
	.top-navigation {
		display: flex;
		align-items: center;
		.left-side {
			display: flex;
			align-items: center;
			.menu-btn {
				margin-left: auto;
				background: #0cc962;
				height: 40px;
				width: 40px;
				color: #fff;
				border: none;
				border-radius: 5px;
				display: none;
			}
			.menu-btn:hover {
				background: #27f585;
			}
		}
		.right-side {
			margin-left: auto;
			ul {
				padding: 0;
				height: auto;
				li {
					list-style: none;
					display: inline-block;
					a {
						color: #333;
						text-decoration: none;
						padding: 10px 15px;
						opacity: 0.8;
						display: inline-block;
						transition: all 0.3s ease;
						font-weight: $medium-font;
						font-size: 16px;
					}
					a:hover {
						opacity: 1;
					}
					.cta-btn {
						background: #0cc962;
						border-radius: 30px;
						padding: 10px 20px;
						color: #fff;
						opacity: 1;
						text-transform: uppercase;
						font-size: 14px;
					}
					.cta-btn:hover {
						background: #27f585;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 641px) {
	#main-navigation {
		.top-navigation {
			.right-side {
				ul {
					height: auto !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 640px) {
    #main-navigation {
    	padding: 0;
    	.container {
    		padding: 0;
    		.top-navigation {
	    		display: block;
	    		.left-side {
	    			margin: 15px;
	    			.menu-btn {
						display: block;
	    			}
	    		}
	    		.right-side {
	    			ul {
	    				background: #eef2f5;
	    				margin: 0;
	    				height: 0;
	    				overflow: hidden;
	    				li {
	    					display: block;
	    					border-bottom: 1px solid #d2ddea;
	    					transition: all 0.3s ease;
	    					a {
	    						padding-left: 15px;
	    						display: inline-block;
	    					}
	    					.cta-btn, .cta-btn:hover  {
	    						background: none;
	    					}
	    					.cta-btn {
	    						color: #333;
								text-transform: none;		
								opacity: 0.8;
								transition: all 0.3s ease;
								font-weight: $medium-font;
								font-size: 16px;
	    					}
	    				}
	    				li:hover {
	    					background: #dbe5ec;
	    				}
	    			}
	    			.navigation-active {
	    				height: auto;
	    			}
	    		}
	    	}
    	}
    }
}

// Hero cover
#hero-cover {
	background: url("../images/john-mark-arnold-223717-unsplash.jpg") top center no-repeat;
	background-size: cover;
	height: 700px;
	display: flex;
	align-items: center;
	.hero-text {
		text-align: right;
		h1 {
			color: #0c0c0c;
			font-size: 55px;
			font-weight: $black-font;
			text-transform: uppercase;
		}
		a {
			text-decoration: none;
			color: #f4f8fc;
			font-size: 18px;
			padding: 12px 22px;
			border-radius: 6px;
			transition: all 0.3s ease;
			display: inline-block;
		}
		.cta-black {
			background: #333333;
		}
		.cta-black:hover {
			background: #525252;
		}
		.cta-green {
			background: #0cc962;
		}
		.cta-green:hover {
			background: #0dd769;
		}
	}
}

@media only screen and (max-width: 1000px) {
	#hero-cover {
		height: 450px;
		.hero-text {
			h1 {
				font-size: 38px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	#hero-cover {
		height: 300px;
		background-color: rgba(0, 0, 0, 0.6);
		.hero-text {
			h1 {
				font-size: 28px;
				.break-line {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 343px) {
	#hero-cover {
		height: 300px;
		.hero-text {
			h1 {
				font-size: 28px;
				.break-line {
					display: none;
				}
			}
			a {
				margin-bottom: 10px;
				padding: 15px;
				font-size: 15px;
			}
		}
	}
}

// Our services

#our-services {
	padding: 150px 0;
	.container {
		h2 {
			font-size: 35px;
			font-weight: $medium-font;
			color: #333333;
			text-align: center;
			margin: 0;
			span {
				color: #0cc962;
			}
		}
		.services-row {
			width: 780px;
			margin: 100px auto 0;
			.service-box {
				text-align: center;
				.service-image {
					height: 100px;
					position: relative;
					img {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}
				}
				h3 {
					color: #333;
					font-size: 18px;
					font-weight: $medium-font;
					text-transform: uppercase;
				}
				p {
					color: #333;
					font-size: 15px;
					font-weight: $light-font;
					line-height: 1.5;
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	#our-services {
		padding: 80px 0;
		h2 {
			font-size: 30px;
			.break-line {
				display: none;
			}
		}
		.services-row {
			width: 100% !important;
		}
	}
}

@media only screen and (max-width: 650px) {
	#our-services {
		h2 {
			font-size: 25px !important;
			line-height: 1.5;
		}
	}
}

// Company description and images

#company-desc-img {
	background: #f6f6f6;
	width: 100%;
	.section-row {
		margin: 0;
		display: flex;
		.col {
			width: 50%;
			padding: 0;
		}
		.padding-active {
			padding: 20px;	
			.content-box {
				background: #fff;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				div {
					h3 {
						font-size: 30px;
						font-weight: $bold-font;
						color: #333;
					}
					h3::after {
						content: "";
						display: block;
						width: 60px;
						height: 4px;
						background: #0cc962;
						margin-top: 10px;
					}
					p {
						color: #777;
						font-size: 16px;
						line-height: 1.6;
					}
					.cta-btn {
						display: inline-block;
						padding: 15px 30px;
						color: #fff;
						background: #0cc962;
						border-radius: 3px;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 13px;
						font-weight: $medium-font;
						transition: all 0.3s ease;
					}
					.cta-btn:hover {
						background: #19ef79;
					}
				}
				.content-right {
					margin: 50px;
				}
			}	
		}
	}
	.image-box {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1100px) {
	#company-desc-img {
		.section-row {
			.col {
				.image-box {
					height: 100%;
					img {
						height: 100%;
						width: auto;
					}
				}
			}
			.left-side {
				display: none;
			}
		}
	}
}


@media only screen and (max-width: 900px) {
	#company-desc-img {
		.section-row {
			display: inline-block;
			.col {
				width: 100%;
				background: #f4f8fc;
				padding: 15px;
				.image-box {
					display: none !important;
					margin: auto;	
				}
				.content-box {
					padding: 15px !important;
					h3 {
						margin-top: 0;
						font-size: 20px !important;
					}
					p {
						font-size: 14px !important;
					}
					.content-right {
						margin: 10px;
					}
				}
			}
		}
	}
}

// Contact Form
#contact-form {
	.inner-container {
		width: 975px;
		margin: 100px auto;
		.form-columns {
			display: flex;
		}
		.form-content {
			padding: 0 50px;
			h3 {
				font-size: 24px;
				font-weight: $bold-font;
				color: #333;
				text-transform: uppercase;
			}
			p {
				font-size: 16px;
				color: #777;
				line-height: 1.5;
			}
			.form-control {
				margin-bottom: 20px;
				input {
					width: 100%;
				}
				input[type="text"], input[type="email"] {
					font-size: 15px;
					color: #555;
					padding: 15px;
					outline: none;
					border: 1px solid #ccc;
				}	
				input[type="submit"] {
					background: #0cc962;
					color: #fff;
					font-size: 14px;
					font-weight: $bold-font;
					text-transform: uppercase;
					border: none;
					padding: 15px 0;
					outline: none;
					transition: all 0.3s ease;
				}
				input[type="submit"]:hover {
					background: #19ef79;
				}
  			}			
		}
	}
}

@media only screen and (max-width: 1000px) {
	#contact-form {
		.inner-container {
			width: 100%;
			margin: 50px 0 !important;
			.image-column {
				display: none;
			}
			.form-columns {
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	#contact-form {
		.inner-container {
			width: 100%;
			margin: 50px 0 !important;
			.image-column {
				display: none;
			}
			.form-columns {
				display: block;
				.form-content {
					padding: 0 10px;
				}
			}
		}
	}
}

// Footer
footer {
	.footer-content {
		background: url("../images/brooke-cagle-609879-unsplash.jpg") center center no-repeat;
		background-size: cover;
		width: 100%;
		position: relative;
	}
	.footer-background {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 888;
		background: rgba(48,68,77,0.92);
	}
	.cta-content {
		padding: 80px 0;
		z-index: 999;
		position: relative;
		text-align: center;
		h2 {
			font-size: 32px;
			font-weight: $bold-font;
			color: #fff;
			margin: 0 0 20px 0;
		}
		.footer-cta-buttons {
			margin: 50px 0 0 0;
			.cta-btn {
				text-decoration: none;
				padding: 12px 20px;
				font-size: 14px;
				text-transform: uppercase;
				margin: 20px 5px;
				transition: all 0.3s ease;
			}
			.cta-green {
				background: #0cc962;
				color: #fff;
			}
			.cta-green:hover {
				background: #13e472;
			}
			.cta-white {
				background: #fff;
				color: #0cc962;
			}
			.cta-white:hover {
				background: #f5f5f5;
			}	
		}	
	}
	.footer-bottom {
		padding: 10px 0;
		color: #333;
		font-size: 14px;
		.flex-container {
			display: flex;
			.right-side {
				margin-left: auto;
				ul {
					list-style: none;
					li {
						display: inline-block;
						a {
							display: block;
							text-decoration: none;
							padding: 0 0 0 10px;
							color: #333;
							transition: all 0.3s ease;
						}
						a:hover {
							color: #9aa0d0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	footer {
		.cta-content {
			h2 {
				font-size: 24px !important;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	footer {
		.footer-bottom {
			.flex-container {
				display: block;
				ul {
					padding: 0;
					li {
						a {
							padding: 0 20px 0 0 !important;
						}
					}
				}
			}
		}
	}
}