@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* line 3, ../sass/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../sass/style.scss */
#main-navigation {
  background: #f4f8fc;
  width: 100%;
}
/* line 21, ../sass/style.scss */
#main-navigation .top-navigation {
  display: flex;
  align-items: center;
}
/* line 24, ../sass/style.scss */
#main-navigation .top-navigation .left-side {
  display: flex;
  align-items: center;
}
/* line 27, ../sass/style.scss */
#main-navigation .top-navigation .left-side .menu-btn {
  margin-left: auto;
  background: #1da7ff;
  height: 40px;
  width: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
/* line 37, ../sass/style.scss */
#main-navigation .top-navigation .left-side .menu-btn:hover {
  background: #69c0f7;
}
/* line 41, ../sass/style.scss */
#main-navigation .top-navigation .right-side {
  margin-left: auto;
}
/* line 43, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul {
  padding: 0;
}
/* line 45, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul li {
  list-style: none;
  display: inline-block;
}
/* line 48, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  opacity: 0.8;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 16px;
}
/* line 58, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul li a:hover {
  opacity: 1;
}
/* line 61, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul li .cta-btn {
  background: #0cc962;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 70, ../sass/style.scss */
#main-navigation .top-navigation .right-side ul li .cta-btn:hover {
  background: #27f585;
}
